.example11, .example21{
    font-size: 30px;
    color: blue;
}
.example1, .example2{
    font-size: 20px;
    color: black;
}
.example3, .example4{
    font-size: 20px;
    color: black;
}
.example31, .example41{
    font-size: 30px;
    color: red;
}